<div class="phdr"><b>Đăng Nhập</b></div>
<div class="panel-body">
    <div id="thongbao"> 
        
    </div>
    <label>Tên tài khoản:</label><input class="fmod" type="text" id="tk" name="n" value="" ><br>
    <label>Mật khẩu:</label><input class="fmod" type="password" id="mk" name="p" value="" ><br>
    <button type="submit" id="login" class="btn btn-success" name="submit" >Đăng nhập ngay</button>
    <p></p>
    <br>- Chưa có TK vui lòng <a href="/auth/register">Đăng ký</a>  
</div>