<div class="phdr"><b>Đăng ký tài khoản</b></div>
<div class="panel-body">
    <div id="thongbao"> 
        
    </div>
    
    <label>Tên tài khoản:</label><input class="fmod" type="text" id="tk" value="" >
    <br>
    <label>Mật khẩu:</label><input class="fmod" type="password" id="mk" value="" ><br>
    <label>Server:</label><br>
    <select id="server">
        <option value="1">Server 1</option>
        <option value="2">Server 2</option>
        <option value="3">Server 3</option>
        <option value="4">Server 4</option>
        <option value="5">Server 5</option>
        <option value="6">Server 6</option>
        <option value="7">Server 7</option>
        <option value="8">Server 8</option>
        <option value="9">Server 9</option>
    </select>
   
    
    <br>
    <button id="dangky" name="submit"  type="submit"  class="btn btn-success">Đăng ký ngay</button>
  
    <p></p>
    <br>- Đã có tài khoản vui lòng <a href="/auth/login">Đăng nhập</a>
</div>